{% extends "base.html" %}
{% block content %}
<div class="row">
    <h2>Bereken maatgevende trajecten</h2>
    <form action="{{ url_for('maatgevendtraject') }}" method="post" class="form-inline">
            <span class="help-inline">Definieer zoekstraal</span>
            <div class="input-append">
                <input class="input-mini" type="text" name="zoekstraal" placeholder="1500"><span class="add-on">m.</span>
            </div>
            <input type="submit" class="btn btn-primary" value="Bereken">
    </form>
</div>
<div class="row">
    <div class="span4 offset2">{% if result %} {{ result }}   {% endif %}</div>
</div>
{% endblock %}
